/*
=============== 
Fonts
===============
*/

@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Playfair+Display&family=Roboto:wght@300&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  --gray-light1: #d9d9d9;
  --gray-light2: #abb4bc;
  --gray-dark: #282828;
  --gold: #9c824b;
  --white: #fff;
  --black: #191919;
  --gradient: linear-gradient(to right, #d9d9d9, #3b4248);
  --ff-primary: "Roboto", sans-serif;
  --ff-title: "Cinzel", serif;
  --ff-subtitle: "Playfair Display", serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius-light: 0.5rem;
  --radius2-circle: 45px;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --logo: url(./imgs/logo-dark.svg) no-repeat;
  --sidenavimg: url(./imgs/sidenav-light.svg) no-repeat;
}

.dark {
  --gray-light1: #282828;
  --gray-dark: #d9d9d9;
  --white: #191919;
  --logo: url(./imgs/logo-light.svg) no-repeat;
  --sidenavimg: url(./imgs/sidenav-dark.svg) no-repeat;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent unwanted Layout Shifts caused by Scrollbars */
html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

body {
  font-family: var(--ff-primary);
  background: var(--gray-light1);
  color: var(--gray-dark);
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  letter-spacing: var(--spacing);
  line-height: 1;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3.5rem;
  font-family: var(--ff-title);
  color: var(--gold);
}

h2 {
  font-size: 3rem;
  color: var(--gold);
}

h3 {
  font-size: 1.5rem;
  font-family: var(--ff-subtitle);
  text-transform: capitalize;
}

/*
=============== 
Global Classes
===============
*/
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  width: 90%;
  max-width: var(--max-width);
  margin: 40px 20px;
}

/*===== Início do menu =====*/

#top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  width: 90vw;
  margin: 15px auto;
  height: auto;
}

#top a {
  height: 33px;
}

.top-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-btn {
  cursor: pointer;
}

.menu-btn span {
  display: block;
  position: relative;
  width: 25px;
  height: 3px;
  margin: 4px 0;
  background: var(--gray-dark);
}

.menu-btn:hover span {
  background: var(--gray-light2);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: var(--white);
  overflow-x: hidden;
  padding-top: 60px;
  transition: var(--transition);
}

.links-menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: var(--ff-title);
  color: var(--gray-dark);
  display: block;
  transition: 0.3s;
  text-transform: capitalize;
}

.links-menu a:hover {
  color: var(--gold);
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 3rem;
  margin-left: 50px;
  color: var(--gold);
}

.closebtn:hover {
  color: var(--gray-light2);
}

.sidenav p {
  width: 250px;
  height: auto;
  font-size: 0.8em;
  padding: 0 2rem 1.5rem;
  text-align: justify;
}

.sidenav p:first-of-type {
  text-align: center;
  padding: 1rem 2rem;
}

.sidenav-img {
  width: 60px;
  height: 75px;
  background: var(--sidenavimg);
  transition: var(--transition);
  display: block;
  margin: 1rem auto;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .links-menu a {
    font-size: 1.2rem;
  }
}

/* Search Navigation */

.searchnav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: var(--white);
  overflow-x: hidden;
  padding-top: 60px;
  transition: var(--transition);
}

.search-closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 3rem;
  margin-left: 50px;
  color: var(--gold);
}

.search-closebtn:hover {
  color: var(--gray-light2);
}

.searchnav-container {
  padding: 2rem;
}

/* Search bar */

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #d9d9d9;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .searchnav {
    padding-top: 15px;
  }
  .searchnav a {
    font-size: 1.2rem;
  }
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 28, 28, 0.5);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: 1;
  opacity: 0;
}

.open-overlay {
  visibility: visible;
  z-index: 2;
  opacity: 1;
  transition: var(--transition);
}

.logo {
  width: 170px;
  height: auto;
  background: var(--logo);
  transition: var(--transition);
}

.fa-rectangle-list {
  font-size: 1.5rem;
  cursor: pointer;
}

.fa-rectangle-list:hover {
  color: var(--gray-light2);
}
/* Dark mode */
.darkmode {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: auto;
  margin: 2rem auto;
}

.darkmode img {
  width: 18px;
  height: auto;
  margin: 0 16px;
}

/* Switch DARK MODE */
#check {
  display: none;
}

.switch {
  position: relative;
  background-color: #abb4bc;
  width: 50px;
  height: 24px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 3px;
  transition: var(--transition);
  cursor: pointer;
}

.slider {
  position: absolute;
  background-color: #fff;
  border-radius: 25px;
  width: 20px;
  height: 20px;
  transition: var(--transition);
}

#check:checked ~ .switch {
  background-color: var(--gold);
}

#check:checked ~ .switch .slider {
  transform: translateX(24px);
}
/*===== Fim do menu =====*/
