/*
=============== 
Fonts
===============
*/

@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Playfair+Display&family=Roboto:wght@300&family=Crimson+Text&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  --gray-light1: #d9d9d9;
  --gray-light2: #abb4bc;
  --gray-dark: #282828;
  --gold: #9c824b;
  --white: #fff;
  --white2: #e5e5e4;
  --black: #191919;
  --gradient: linear-gradient(to right, #d9d9d9, #3b4248);

  --fs-xl: clamp(1rem, 2vw + 1rem, 3rem);

  --ff-primary: "Roboto", sans-serif;
  --ff-title: "Cinzel", serif;
  --ff-subtitle: "Playfair Display", serif;
  --ff-body: "Crimson Text", serif;

  --transition: all 0.3s linear;
  --spacing: 0.15rem;
  --radius-light: 0.5rem;
  --radius2-circle: 45px;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;

  --logo: url(./imgs/logo-dark.svg) no-repeat;
  --sidenavimg: url(./imgs/sidenav-light.svg) no-repeat;
}

.dark {
  --gray-light1: #282828;
  --gray-light2: #494949;
  --gray-dark: #d9d9d9;
  --white: #191919;
  --white2: #212121;
  --black: #fff;
  --logo: url(./imgs/logo-light.svg) no-repeat;
  --sidenavimg: url(./imgs/sidenav-dark.svg) no-repeat;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent unwanted Layout Shifts caused by Scrollbars */
html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

body {
  font-family: var(--ff-primary);
  background: var(--gray-light1);
  color: var(--gray-dark);
  font-size: 0.875rem;
}

ul {
  margin-left: 1.5rem;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 3.5rem;
  font-family: var(--ff-subtitle);
  color: var(--gold);
}

h2 {
  font-size: 2.5rem;
  color: var(--gold);
  font-family: var(--ff-title);
}

h3 {
  font-size: 1.8rem;
  font-family: var(--ff-subtitle);
  text-transform: capitalize;
  color: var(--gold);
}

h4 {
  font-size: 1.2rem;
  font-family: var(--ff-subtitle);
  text-transform: capitalize;
  color: var(--gray-dark);
}

.highlight {
  font-weight: 800;
  color: var(--gold);
  cursor: pointer;
}

.highlight:hover {
  color: var(--gray-dark);
  cursor: pointer;
}

aside {
  background-color: var(--gray-light2);
  margin: 2rem;
  padding: 2rem;
  border-radius: 10px;
}

/*===== Início do menu =====*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  background-color: var(--gray-light1);
  transition: top 0.3s;
}

#top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-light1);
  max-width: var(--max-width);
  width: 90%;
  margin: 15px auto;
}

#top a {
  height: 33px;
}

.top-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-btn {
  cursor: pointer;
}

.menu-btn span {
  display: block;
  position: relative;
  width: 20px;
  height: 2px;
  margin: 6px 0;
  background: var(--gray-dark);
}

.menu-btn:hover span {
  background: var(--gray-light2);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: var(--white);
  overflow-x: hidden;
  padding-top: 60px;
  transition: var(--transition);
}

.links-menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: var(--ff-title);
  color: var(--gray-dark);
  display: block;
  transition: 0.3s;
  text-transform: capitalize;
  width: 250px;
}

.links-menu a:hover {
  color: var(--gold);
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 3rem;
  margin-left: 50px;
  color: var(--gold);
}

.closebtn:hover {
  color: var(--gray-light2);
}

.sidenav p {
  width: 250px;
  height: auto;
  font-size: 0.8em;
  padding: 0 2rem 1.5rem;
  text-align: justify;
}

.sidenav p:first-of-type {
  text-align: center;
  padding: 1rem 2rem;
}

.sidenav-img {
  width: 60px;
  height: 75px;
  background: var(--sidenavimg);
  transition: var(--transition);
  display: block;
  margin: 1rem auto;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .links-menu a {
    font-size: 1.2rem;
  }
}

/* Search Navigation */

.searchnav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: var(--white);
  overflow-x: hidden;
  transition: var(--transition);
}

.searchnav-header {
  position: sticky;
  background-color: var(--white);
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 0 2rem;
}

.search-closebtn {
  float: right;
  font-size: 3rem;
  color: var(--gold);
}

.search-closebtn:hover {
  color: var(--gray-light2);
}

/* Search bar */

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0;
}

#searchQueryInput {
  width: 100%;
  height: 2.5rem;
  outline: none;
  background: none;
  border: 1px solid var(--gold);
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1em;
  color: var(--black);
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

/* Search Results */

.search-results {
  display: none;
}

.search-menu {
  display: block;
}

.searchnav-container .search-results.show-results {
  display: block;
}

.searchnav-container .search-menu.show-results {
  display: none;
}

/* Skeleton loading */

.loading-container .card-title {
  font-size: 0.5rem;
}

.loading-container .card-title.loading {
  height: 0.6rem;
  margin: 0.2rem;
  border-radius: 2px;
}

.loading-container .card-title.loading.shorter-s {
  width: 25%;
}

.loading-container .table-content.loading.shorter-l {
  width: 65%;
}

.loading {
  position: relative;
  background-color: var(--gray-light1);
  overflow: hidden;
}

.loading::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  animation: 2s loading linear 0.5s infinite;
  background: linear-gradient(90deg, transparent, var(--white2), transparent);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transform: translateX(-100%);
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.loading-container .table-content {
  font-size: 0.5rem;
}

.loading-container .table-content.loading {
  height: 0.6rem;
  margin: 0.2rem;
  border-radius: 2px;
}

.chapter-item-skeleton {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px;
  padding: 10px;
  text-align: center;
  background: var(--gray-light1);
}

/* Searchnav Menu */

.searchnav-container {
  padding: 0 2rem;
}

.chapter-item {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid var(--gray-light2);
  border-radius: 50%;
  color: var(--gray-dark);
  font-size: 1em;
  text-decoration: none;
  padding: 10px 0;
  cursor: pointer;
  transition: all 0.2s ease, visibility 0s;
  margin: 2px;
  text-align: center;
  background: none;
}

.chapter-item:hover {
  background: var(--gray-light1);
}

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0 3px 2px;
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--gray-dark);
  font-family: var(--ff-subtitle);
  width: 100%;
  cursor: pointer;
  margin: 1rem 0;
  border: none;
  border-bottom: 1px solid var(--gray-dark);
  background: none;
}

.dropdown-btn:hover {
  color: var(--gray-light2);
}

.active {
  color: var(--gold);
  border-bottom: 1px solid var(--gold);
}

.dropdown-container {
  display: none;
  padding-left: 8px;
}

.fa-angle-down,
.fa-angle-up {
  padding-right: 8px;
}

.dot {
  font-size: 0.5rem;
}

/* Fim Searchnav Menu */

@media screen and (max-height: 450px) {
  .searchnav {
    padding-top: 15px;
  }
  .searchnav a {
    font-size: 1.2rem;
  }
}

/* Overlay */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 28, 28, 0.5);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: 1;
  opacity: 0;
}

.open-overlay {
  visibility: visible;
  z-index: 2;
  opacity: 1;
  transition: var(--transition);
}

.logo {
  width: 170px;
  height: auto;
  background: var(--logo);
  transition: var(--transition);
}

.open-book {
  width: 28px;
  height: 28px;
  fill: var(--gray-dark);
  cursor: pointer;
  padding: 4px;
  border: 1px solid var(--gray-dark);
  border-radius: 5px;
}

.open-book:hover {
  fill: var(--gray-light2);
  border: 1px solid var(--gray-light2);
}

/* Dark mode */

.darkmode {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: auto;
  margin: 2rem auto;
}

.darkmode img {
  width: 18px;
  height: auto;
  margin: 0 16px;
}

/* Switch DARK MODE */

#check {
  display: none;
}

.switch {
  position: relative;
  background-color: #abb4bc;
  width: 50px;
  height: 24px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 3px;
  transition: var(--transition);
  cursor: pointer;
}

.slider {
  position: absolute;
  background-color: #fff;
  border-radius: 25px;
  width: 20px;
  height: 20px;
  transition: var(--transition);
}

#check:checked ~ .switch {
  background-color: var(--gold);
}

#check:checked ~ .switch .slider {
  transform: translateX(24px);
}

/*
=============== 
MAIN HOME
===============
*/

#main-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  max-width: var(--max-width);
  width: 90%;
  margin: 0px auto;
}

#ver-rand {
  font-family: var(--ff-title);
  font-size: var(--fs-xl);
  margin: 0.8rem auto;
}

#ver-rand-cap {
  font-family: var(--ff-subtitle);
  font-size: var(--fs-xl);
}

.general-btn {
  transition: all 0.2s ease, visibility 0s;
  border-radius: 45px;
  border: 2px solid var(--gold);
  background: var(--gold);
  color: #fff;
  font-family: var(--ff-title);
  font-size: 0.8em;
  text-decoration: none;
  letter-spacing: 0.1em;
  padding: 10px 16px;
  margin: 1.5rem 0;
  cursor: pointer;
  box-shadow: var(--dark-shadow);
}

.general-btn:hover {
  color: var(--gold);
  background: none;
  position: relative;
}

.general-btn:active {
  top: 2px;
  box-shadow: none;
}

/*
=============== 
MAIN CONTENT
===============
*/

#main-content {
  max-width: var(--max-width);
  width: 90%;
  margin: 7rem auto 0px;
  align-items: center;
}

.book-name {
  text-align: center;
}

.chapter-number {
  text-align: center;
  margin-bottom: 2rem;
}

.tempo-leitura {
  width: 200 px;
  margin-bottom: 2rem;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tempo-leitura p {
  margin-bottom: 5px;
}

.clock {
  width: 12px;
  height: 12px;
  fill: var(--gray-dark);
  margin-bottom: 0.5rem;
}

.underline {
  width: 5rem;
  border-bottom: 2px solid var(--gold);
}

#content-container {
  font-size: 1.5rem;
}

.verse-number {
  color: var(--gold);
  font-size: 1rem;
}

.content-nav {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 450px) {
  #content-container {
    font-size: 1.2rem;
  }
  .book-name {
    font-size: 2rem;
  }
}

/* Código para mudar o background da seleção de texto */
p::selection {
  background: #fae88e;
  color: #191919;
}

/* BLOCKQUOTE Sobre o projeto */

.blockquote-wrapper {
  display: flex;
  padding: 0 1rem;
  margin: 2rem 0;
}

.blockquote {
  position: relative;
  font-family: var(--ff-title);
  color: var(--gray-dark);
  padding: 30px 0;
  width: 100%;
  align-self: center;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

.blockquote h1 {
  position: relative;
  color: var(--gray-dark);
  font-size: 2rem;
  line-height: 1.3;
  letter-spacing: -1px;
  margin: 0;
}

.blockquote h4 {
  position: relative;
  color: var(--gold);
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding-top: 20px;
}

/* =============CONTATO=============== */

.form-container {
  width: 100%;
  /* max-width: 500px; */
  min-width: 250px;
}

fieldset {
  border: none;
}

input,
textarea,
select {
  margin: 0 0 10px 0;
  width: 100%;
  min-height: 2em;
  padding: 0 10px;
  font-family: var(--ff-primary);
}

input {
  width: 100%;
  height: 2.5rem;
  outline: none;
  background: var(--white);
  border: none;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 0.8em;
  color: var(--black);
}

textarea {
  background: var(--white);
  border: none;
  padding: 1rem 3.5rem 0 1.5rem;
  font-size: 0.8em;
  color: var(--black);
}

.submit {
  transition: all 0.2s ease, visibility 0s;
  background-color: var(--gold);
  border: none;
  color: var(--white);
  height: 3rem;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.submit:hover {
  color: #fff;
  background: none;
  border: 2px solid var(--gold);
  color: var(--gold);
}

#thank-you-message {
  display: none;
}

#thank-you-message.show {
  display: block;
  color: var(--black);
}

/* ============== Dicas de Livros ================ */

.tips-content {
  display: grid;
  padding: 2rem;
  grid-template-columns: 300px 1fr;
  gap: 1rem;
  align-items: center;
  width: 100%;
  margin: 5% auto;
  background: var(--white);
}

.tips-img {
  width: 100%;
  height: 466px;
}

.tips-content .botao-comprar .general-btn {
  margin-bottom: 0;
}

@media (max-width: 600px) {
  .tips-content {
    display: block;
  }

  .botao-comprar {
    text-align: center;
  }

  .tips-img {
    height: auto;
    background-position: center;
    object-fit: cover;
    padding-bottom: 1rem;
  }
}
